/* style.css */


/* normalise styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styling */
body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #24273a;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: inherit;  /* takes colour from parent */
    font-family: inherit; /* takes font from parent */
    font-size: inherit; /* takes font-size from parent */
    text-decoration: underline;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    background-color: #24273a;
    color: #f5a97f;
}

/* main */
.main {
    margin-top: 50px;
    text-align: center;
}

.scoreboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.scores-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.buttons button {
    background-color: #8087a2;
    color: #c6d0f5;
    padding: 10px 20px;
    margin-top:  20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 130px;
    font-size: 20px;
    font-weight: bold;
}

.game-msg {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
    color: #91d7e3;
    white-space: pre-line;
    line-height: 50px;
}

.score-box {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
    color: #91d7e3;
}

/* footer */
.footer {
    background-color: #24273a;
    text-align: center;
    color:#F9FAF8;
    padding: 40px 200px;
    font-weight: bold;
}