/* style.css */


/* normalise styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styling */
body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #303446;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: inherit;  /* takes colour from parent */
    font-family: inherit; /* takes font from parent */
    font-size: inherit; /* takes font-size from parent */
    text-decoration: underline;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    background-color: #303446;
    color: #89b4fa;
}

/* main */
.main {
    margin-top: 50px;
    text-align: center;
}

.scoreboard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.scores-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.buttons button {
    background-color: #8caaee;
    color: #c6d0f5;
    padding: 10px 20px;
    margin-top:  20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */
.footer {
    background-color: #303446;
    text-align: center;
    color:#F9FAF8;
    padding: 40px 200px;
}